# Section debug
[debug]
symbol_table=%PWD%/liblfs_map.so    # Debug symbol map, used by backtrace level 1, can be overridden by SYMBOL_MAP
backtrace_level=1                   # Backtrace level, can be 0, 1 or 2. Only level 1 and 2 are valid, others will be perceived as 0, can be overridden by BACKTRACE_LEVEL
verbose=true                        # Enable/Disable verbose, can be overridden by VERBOSE
trim_symbol=true                    # Trim symbol length for C++ functions, can be overridden by TRIM_SYMBOL

# Section general
[general]
color=true                          # Enable/Disable ANSI color code
