# Section debug
[debug]
backtrace_level=1                   # Backtrace level, can be 0, 1 or 2. Only level 1 and 2 are valid, others will be perceived as 0, can be overridden by BACKTRACE_LEVEL
verbose=true                        # Enable/Disable verbose, can be overridden by VERBOSE
trim_symbol=true                    # Trim symbol length for C++ functions, can be overridden by TRIM_SYMBOL

# Section general
[general]
color=true                          # Enable/Disable ANSI color code, can be overridden by COLOR

[server]
listen_addr=127.0.0.1
port=5080
dictionary=%PWD%/dictionary
dictionary_block_limit=4            # max 4 * 64KB data blocks
dictionary_index_limit=2            # max 2 file indexes
relay=127.0.0.1:5090                # relay
